.card {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.card-title {
    color: #FF2B85;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 10px;
    margin: 0 auto;
}

.btn-custom {
    background-color: #FF2B85; 
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    width: 60%;
    padding: 12px;
}

.btn-custom:hover {
    background-color: black; 
    color: white; 
}

.form-label {
    font-weight: bold;
}

.button-control {
    text-align: center;
}

.login {
    text-align: center;
}

.login-btn {
    text-decoration: underline;
}

.login-btn:hover {
    color: #FF2B85;

}

h4 {
    text-align: center;
    margin-bottom: 2rem;
}

form{
    margin: 0 50px;
}

.alert {
    margin-bottom: 20px;
}

.criteria {
    font-size: 0.85rem;
    color: #555;
}

.criteria-group {
    margin-bottom: 20px;
}

p {
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    padding: 30px;
}