.card {
    width: 100%;
    max-width: 800px;  
    min-height: 600px;      
    border-radius: 15px;     
    padding: 30px;
}

.card-title {
    color: #FF2B85;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.card-img {
    object-fit: cover; 
    height: 300px; 
    width: 100%; 
    margin-bottom: 1rem; 
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-primary {
    background-color: #FF2B85; 
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    width: 50%;
    padding: 12px;
}

.btn-primary:hover {
    background-color: black; 
    color: white; 
}

.listed-by, .owner-ID {
    color: #6C7780;
    font-size: small;
}

.dark-badge {
    background-color: #6C7780;
}

.d-flex {
    justify-content: center;
    align-items: center; 
}

#edit-delete-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}