.card {
    width: 100%;
    max-width: 800px;
    min-width: 450px;
    min-height: 600px;      
    border-radius: 15px;     
    padding: 30px;
}

.card-title {
    color: #FF2B85;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.card-img {
    object-fit: cover; 
    height: 300px; 
    width: 100%; 
    margin-bottom: 1rem; 
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#requestors-list-toggle {
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.btn-primary {
    background-color: #FF2B85; 
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    padding: 12px;
    text-wrap: nowrap;
}

.btn-primary:hover {
    background-color: black; 
    color: white; 
}

#req-btn {
    width: 50%;
    margin-top: 20px;
    color: white;
    border: 0px;
}

#request-btn-toggle {
    display: flex;
    justify-content: center;
}

.listed-by, .owner-ID {
    color: #6C7780;
    font-size: small;
}

.custom-badge {
    background-color: #6C7780;
    color: white;
}

.accept-container {
    text-wrap: nowrap;
}

.btn-success {
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}