{{ template "head" }}

<body>
    {{ template "headerbar" }}
    <div class="main">
        <!-- Leader board -->
        <div class="main-container">
            <div class="leaderboard-title">Leader Board</div>
            <div class="board-card">
                <table class="table">
                    <thead class="thead-custom">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Level</th>
                            <th scope="col">Exp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $rank, $user := . }}
                        <tr>
                            <th scope="row">{{$rank}}</th>
                            <td><img src="{{$user.AvatarPic}}" width="50px"></td>
                            <td>{{$user.Username}}</td>
                            <td>{{$user.Email}}</td>
                            <td>{{$user.Level}}</td>
                            <td>{{$user.EXP}}/100</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>