{{ template "head" }}

<body>
    {{ template "headerbar" }}
    <div class="main">
        <!-- Leader board -->
        <div class="main-container">
            <div class="leaderboard-title">Leader Board</div>
            <div class="board-card">
                <table class="table">
                    <thead class="thead-custom">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Level</th>
                            <th scope="col">Exp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $rank, $user := . }}
                        <tr>
                            <th scope="row">{{$rank}}</th>
                            <td><img src="{{$user.AvatarPic}}" width="50px"></td>
                            <td>{{$user.Username}}</td>
                            <td>{{$user.Email}}</td>
                            <td>{{$user.Level}}</td>
                            <td>{{$user.EXP}}/100</td>
                        </tr>
                        {{end}}
                        <!-- <tr>
                            <th scope="row">2</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Paupau</td>
                            <td>Grand Master</td>
                            <td>2</td>
                            <td>3/5</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Paupau</td>
                            <td>Grand Master</td>
                            <td>2</td>
                            <td>3/5</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Paupau</td>
                            <td>Grand Master</td>
                            <td>2</td>
                            <td>3/5</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Paupau</td>
                            <td>Grand Master</td>
                            <td>2</td>
                            <td>3/5</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var logo = document.getElementById("logo-click")
        var dropdown = document.getElementById("dropdown")
        logo.addEventListener("click", function(){
            dropdown.classList.toggle("hide")
            dropdown.style.top = `${logo.offsetTop + logo.offsetHeight + 10}px`
            dropdown.style.left = `${logo.offsetLeft - 50}px`
        })
    </script>
</body>