{{ template "head" }}
<body>

<div class="card">
    <h2 class="card-title">Create New Account</h2>
    <h4>Enter the following to create a new account</h4>
    
    <!-- Display error message if exists
    {{if .ErrorMessage}}
        <div class="alert alert-danger" role="alert">
            {{.ErrorMessage}}
        </div>
    {{end}} -->

    <div class="criteria-group">
        <p class="criteria">Username must be between 5 and 20 characters, and contain only letters and numbers.</p>
        <p class="criteria">Password must be at least 8 characters long and contain at least one number.</p>
    </div>

    <form method="post">
        <div class="form-group">
            <label for="lastname" class="form-label">Email:</label>
            <input type="text" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="button-control">
            <button type="submit" class="btn btn-custom">Create Account</button>
        </div>
    </form>
    <div class="mt-3 login">Already have an account?<a href="/login" class="btn login-btn">Login here</a></div>

</div>

</body>
</html>

