{{ template "head" }}

<body>
    {{ template "headerbar" }}
    <div class="main">
        <!-- Leader board -->
        <div class="main-container">
            <div class="transactions-title">Transactions & Activity</div>
            <div class="transactions-card">
                <table class="table">
                    <thead class="thead-custom">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col"></th>
                            <th scope="col">Item</th>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Towel</td>
                            <td>#123</td>
                            <td>
                                <div class="badge pending">Pending</div>
                            </td>
                            <td>
                                <a href="#">View</a><br>
                                <a href="#" class="">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Keyboard</td>
                            <td>#456</td>
                            <td>
                                <div class="badge completed">Completed</div>
                            </td>
                            <td>
                                <a href="#">View</a><br>
                                <a href="#" class="hide">Cancel</a>
                            </td>                        
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Toy</td>
                            <td>#789</td>
                            <td>
                                <div class="badge cancelled">Cancelled</div>
                            </td>
                            <td>
                                <a href="#">View</a><br>
                                <a href="#" class="hide">Cancel</a>
                            </td>                        
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><img src="/Frontend/static/images/paupau-avatar.png" width="50px"></td>
                            <td>Shirt</td>
                            <td>##101112</td>
                            <td>
                                <div class="badge completed">Completed</div>
                            </td>
                            <td>
                                <a href="#">View</a><br>
                                <a href="#" class="hide">Cancel</a>
                            </td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var logo = document.getElementById("logo-click")
        var dropdown = document.getElementById("dropdown")
        logo.addEventListener("click", function(){
            dropdown.classList.toggle("hide")
            dropdown.style.top = `${logo.offsetTop + logo.offsetHeight + 10}px`
            dropdown.style.left = `${logo.offsetLeft - 50}px`
        })
    </script>
</body>